.container {
  position: relative;
  width: 100%;
  overflow: hidden;

  padding: 70px 120px;
  background-color: #014db3;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.first {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.text h1 {
  font-size: 50px;
  line-height: 72px;
  width: 490px;
  margin-bottom: 0;
}

.text p {
  font-size: 13px;
  line-height: 26px;
  width: 400px;
  text-transform: capitalize;
}

.button {
  display: flex;
  /* justify-content: center; */
  gap: 13px;
}
.firstBtn {
  background-color: transparent;
  padding: 15px 35px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #ccc;
  font-size: 10px;
}
.secondBtn {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 15px 30px;
  color: #014db3;
  font-size: 10px;
}

.peoples {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 17px 0;
}
.peoplesPreviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -2px;
}
.peoplesPreviews h1 {
  font-size: 16px;
  line-height: 0;
}
.peoplesPreviews p {
  font-size: 8px;
  line-height: 0;
}
.coilArrow {
  position: absolute;
  left: 26rem;
  bottom: 55px;
  transform: skewX(47deg);
}

.second {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex: 1;

  right: 100px;
  /* width: 705.33px; */
  overflow: hidden;
}
.vscode {
  position: absolute;
  right: 30px;
  top: 70px;
}
.lightBulb {
  position: absolute;
  left: -40px;
  top: 50px;
}
.circle {
  position: absolute;
  left: 55px;
  top: 230px;
}
.triangle {
  position: absolute;
  right: 40px;
  top: 270px;
}
.figma {
  position: absolute;
  top: 330px;
  left: 0px;
}

.heroImageDiv {
  display: flex;
  justify-content: flex-end;
}
.heroImage {
  margin: 0 auto;
}

.yellowDot {
  position: absolute;
  left: 45px;
  bottom: 65px;
}
.whiteW {
  position: absolute;
  width: 64px;
  height: 64px;
  right: 5px;
  bottom: 40px;
  background: #fff;
  border-radius: 5px;
}
.w {
  position: relative;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  left: 10px;
  top: 10px;
}

@media screen and (max-width: 768) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second {
    position: absolute;
    right: 0;
    margin-top: 1000px;
  }

  .heroImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroImage {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .first {
    /* margin: 0;
    padding-bottom: 0; */
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text h1 {
    font-size: 32px;
    width: 320px;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .text p {
    margin-top: -10px;
    width: 299.58px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
  }

  .button {
    display: flex;
    justify-content: center;
    gap: 13px;
  }
  .firstBtn {
    background-color: transparent;
    padding: 10px 14px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #ccc;
    font-size: 10px;
  }
  .secondBtn {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 10px 16px;
    color: #014db3;
    font-size: 10px;
  }

  .peoples {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 17px 0;
  }
  .peoplesPreviews {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -2px;
  }
  .peoplesPreviews h1 {
    font-size: 16px;
    line-height: 0;
  }
  .peoplesPreviews p {
    font-size: 8px;
    line-height: 0;
  }

  .coilArrow {
    position: absolute;
    width: 51px;
    height: 80px;
    left: 17.5rem;
    top: 0;
    transform: none;
  }

  .second {
    position: relative;
    right: 0;
  }

  .vscode {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 12px;
    top: 50px;
  }

  .lightBulb {
    position: absolute;
    width: 104px;
    height: 96px;
    left: 0px;
    top: 30px;
  }
  .circle {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 45px;
    top: 130px;
  }
  .triangle {
    position: absolute;
    width: 18px;
    height: 15px;
    right: 20px;
    top: 145px;
  }
  .figma {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 210px;
    left: 10px;
  }

  .heroImageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .heroImage {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }

  .yellowDot {
    position: absolute;
    width: 7x;
    height: 7px;
    left: 45px;
    bottom: 40px;
  }
  .whiteW {
    position: absolute;
    width: 43px;
    height: 43px;
    right: 5px;
    bottom: 10px;
    background: #fff;
    border-radius: 5px;
  }
  .w {
    position: relative;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    left: 5px;
    top: 5px;
  }
}

/* @media screen and (max-width: 1200px) and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
} */
