.container {
  position: relative;
  width: 100%;
  overflow: hidden;

  background: #f8f9fc;
  padding: 10px 120px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.heading h1 {
  color: #000f24;
  font-size: 56px;
  line-height: 39px;
  text-align: center;
}
.heading p {
  color: #a2a2a2;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  width: 743px;
}

/* carousel */
.slider {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.body {
  width: 503px;
  height: 266px;

  background: #ffffff;
  border-radius: 24px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 555px;
  height: 156px; */
}
.top p {
  /* width: 100%; */
  text-align: left;
  font-size: 12px;
  line-height: 23px;
  text-transform: capitalize;
  color: #a2a2a2;
}
.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}
.nameTitle p:first-child {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}
.nameTitle p:last-child {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;

  color: #a1a1a1;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px 5px;
  }
  .heading h1 {
    font-size: 24px;
    line-height: 30px;
    width: 344px;
    text-align: center;
  }
  .heading p {
    font-size: 8px;
    line-height: 16px;
    width: 288px;
    text-align: center;
  }

  /* carousel */

  .top p {
    font-size: 10px;
    line-height: 14px;
    width: 240px;
  }
  .bottom {
    justify-content: center;
  }
  .bottom p {
    font-size: 10px;
  }
}
